<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stu.friendservice.mapper.ChatSessionsMapper">

    <resultMap id="BaseResultMap" type="stu.friendservice.entity.ChatSessions">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="friend_id" column="friend_id" jdbcType="INTEGER"/>
            <result property="last_message_id" column="last_message_id" jdbcType="INTEGER"/>
            <result property="updated_at" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,friend_id,
        last_message_id,updated_at
    </sql>
</mapper>
